/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package style-guide
 * @copyright 2010-2020 BigTinCan Mobile Pty Ltd
 * @author Lochlan McBride <lmcbride@bigtincan.com>
 */

@import "../../libs/less/variables.less";

.BlockSearchInput {
  // Fullscreen style search
  &.full {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    width: 70rem;
    padding: 2rem 3rem;

    .searchButton[disabled] {
      background-color: var(--base-color);
      border-color: var(--base-color);
      color: var(--base-text);
      opacity: 1;
    }
  }

  > h3 {
    text-align: center;
    color: #fff;
    margin: 0;
  }

  .inputWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 0;

    .textInput {
      flex: 1 1 auto;
      margin-right: 1.5rem;

      &:before {
        color: var(--base-color);
      }

      > span {
        color: var(--base-color);
      }

      input {
        margin: 0;
      }
    }

    .buttonWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 auto;
    }
  }

  .selectedFilters {
    margin: 0.75rem 0;
    min-height: 2.15rem;

    .tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .remainingCountItem, .clearFiltersItem {
      margin: 0 0.65rem 0 0;
      height: 1.875rem;
      cursor: pointer;
    }
    .remainingCountItem {
      color: var(--primary-text);
      background-color: var(--divider-color);
      border-radius: 4px;
      margin-right: 0;

      > span {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 0.25rem;
      }
    }
  }

  .clearFiltersBtn {
    border-color: transparent;
    background-color: transparent;
    color: var(--base-color);
  }

  .filterWrap {
    color: #fff;

    > div {
      display: flex;
      align-items: center;
      margin-top: 0.55rem;

      > span {
        margin-right: 1rem;
        color: var(--primary-text);
      }
    }

    &.full {
      color: #fff;

      .filterSelect, .filterSelectActive {
        background-color: var(--background-color);
        border-color: var(--background-color);
      }
    }

    .filterSelect, .filterSelectActive {
      margin-right: 1rem;
      background-color: #fff;
      border-color: #f2f2f2;
      cursor: pointer;

      // heading
      > div > span {
        color: var(--secondary-text);
      }

      // content-wrap
      > div > div {
        border-color: #e5e5e5;
        min-width: 13rem;
      }

      // indicator
      > div > span:after {
        color: var(--base-color);
      }
    }
    .filterSelectActive {
      // .contentWrap
      > div > div {
        border-top-left-radius: 0;
      }

      // text
      > div > span {
        color: var(--disabled-color);
      }

      // indicator
      > div > span:after {
        color: #ccc;
        transform: rotate(180deg);
        padding-right: 0.65rem;
        padding-left: 0;
        margin-bottom: 1px;
      }
    }

    .filterItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: var(--light-base-color);
      }

      * {
        cursor: pointer;
      }

      label {
        color: var(--primary-text);
        pointer-events: none;
      }
    }
    .filterCheckbox {
      label:before {
        margin: 0;
      }
    }
  }

  .filterModalBody {
    padding: 1rem 1.5rem;

    .clearFilters {
      margin: 0.3rem 0.65rem 0.3rem 0;
      display: inline-block;
      padding: 0 0.5rem;
      height: 1.875rem;

      button {
        padding: 0;
      }
    }
  }

  /** Media Query breakpoints */
  @media @mobile-xs {

  }
  @media @mobile {

  }
  @media @tablet {

  }
  @media @desktop {

  }
  @media @desktop-xl {

  }
}
