/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package hub-web-app-v5
 * @copyright 2010-2018 BigTinCan Mobile Pty Ltd
 * @author Rubenson Barrios <rubenson.barrios@bigtincan.com>
 */
@import "../../libs/less/variables.less";
@import "../../libs/less/utilities.less";

.MeetingSearchItem {
  display:block;
  overflow:hidden;
  align-items:center;
  transition:background @timing-fast linear;

  a {
    position: relative;
    display: block;
    color:@primary-text;
    padding:0.5rem;

    &:hover {
      text-decoration:none;
      background-color:@light-base-color;
    }
  }
}

.selected {
  background-color:@light-base-color;
}

.thumbnailDay {
  position: absolute;
  top: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #f4f4f4;

  color: @base-color;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  user-select:none;
}

.info {
  margin-left: 4rem;
  display: block;
}

.name {
  display: block;
  font-size: 95%;
  color:@primary-text;
  line-height: 1.5;

  > em {
    font-style: normal;
    font-weight: bold;
  }
}

.storyContainer {
  display:flex;
  align-items: center;
  color:@primary-text;

  > div {
    margin-right: 0.25rem;
  }
}

.timeContainer {
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: flex;
  font-size: 90%;
}

.time {
  display: inline-block;
  font-size:95%;
  color: @secondary-text;

  > span {
    position: relative;
    white-space: nowrap;

    &:last-child {
      margin-left: 0.5rem;
      padding-left: 0.8rem;

      &:before {
        position: absolute;
        left: 0;
        content: '\2022';
      }
    }
  }
}

.note {
  position: relative;
  color:@secondary-text;
  font-size:90%;
  display:inline-block;
  display: -webkit-box;
  text-transform: none;
  margin-left: 0.5rem;
  padding-left: 0.8rem;
  max-width: 65%;
  .overflow-ellipsis();

  &:before {
    position: absolute;
    left: 0;
    content: '\2022';
  }
  > em {
    font-style: normal;
    font-weight: bold;
  }
}

.title {
  color:@secondary-text;
  font-size:90%;
  display:inline-block;
  display: -webkit-box;
  text-transform: none;

  > em {
    font-style: normal;
    font-weight: bold;
  }
}
