/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package hub-web-app-v5
 * @copyright 2010-2020 BigTinCan Mobile Pty Ltd
 * @author Nimesh Sherpa <nimesh.sherpa@bigtincan.com>
 */

@import "../../less/_variables.less";

@minWidth: 1.5rem;
@maxWidth: 9.6875rem;

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.625rem;

  .timeSpentSectionWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 4px;

    .timeSpent {
      min-width: @minWidth;
      max-width: @maxWidth;
      height: 44px;
      display: inline-block;
      background: #e9e9e9;
      cursor: pointer;
    }

    > span:last-child {
      margin: 0 auto;
      font-size: 0.75rem;
      font-weight: 600;
      margin-bottom: 0.625rem;
    }

    &:first-child {
      > span {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
    }

    &:last-child {
      margin-right: 0;
      > span {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    .isHovered {
      background-color: #f26726;
      background-color: var(--base-color);
    }
  }
}

.thumbnailPreviewWrapper {
  height: 100%;
  .thumbnailPreview {
    height: 115px;
    width: 100%;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  > span {
    color: #7a7a7a;
    font-size: 0.75rem;
    margin-left: 0.625rem;
    line-height: 2.0625rem;

    > span {
      font-weight: 600;
      color: #222222;
      color: var(--primary-text);
    }
  }
}
