/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package style-guide
 * @copyright 2010-2018 BigTinCan Mobile Pty Ltd
 * @author Jason Huang <jason.huang@bigtincan.com>
 */

@import "../../../../libs/less/btc-font-mixins.less";
@import "../../../../libs/less/variables.less";

.ActiveDirectory {
  padding-bottom: 1.25rem;

  div[data-action="addActiveForest"] {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding-top: 0.5rem;

    &:before {
      .btc-font();
      font-size:1.2rem;
      color: var(--base-color);
      padding-right: 0.75rem;
      content:'\f1d0';
    }

    &:active {
      color: var(--base-color);
      font-weight: 400;
    }
  }
}

.additionalSettingsDiv {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom-color: var(--divider-color);
  border-bottom: 1px solid @dividerColor;
}

.additionalSettings {
  padding: 0.75rem 0 0 0.5rem;
}

.port {
  padding-top: 1rem;

  label {
    color: var(--primary-text);
  }
}
