/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package style-guide
 * @copyright 2010-2019 BigTinCan Mobile Pty Ltd
 * @author Olivia Mo <olivia.mo@bigtincan.com>
 */

@import "../../libs/less/variables.less";

.progressContainer {
  width: 100%;

  .progressText {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }

  .progressBar {
    height: 8px;
    border: 1px solid;
    border-color: var(--divider-color);
    border-radius: 4px;

    .progressBarBackground {
      background-color: var(--base-color);
      height: 6px;
      width: 1%;
      border-radius: 4px;
      transition: all .3s linear;
    }
  }
}

