/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package style-guide
 * @copyright 2010-2018 BigTinCan Mobile Pty Ltd
 * @author Lochlan McBride <lochlan.mcbride@bigtincan.com>
 */

@import "../../libs/less/variables.less";

.ColourPalette {
  margin:1rem 0;
  border: solid 1px #ddd;
  border-color: val(--divider-color);
  overflow:hidden;

  > div {
    float:left;
    width:25%;
    height: 7rem;
    padding: 0.5rem;
    cursor:pointer;
    transition:all @timing-fast linear;
    position:relative;

    &:hover {
      opacity:0.9;

      p {
        opacity:1;
      }
    }

    code {
      margin:0;
    }

    p {
      opacity:0;
      margin:0;
      padding:0 0.25rem;
      position:absolute;
      bottom:0.5rem;
      left:0.5rem;
      background: val(--base-text);
      font-size:90%;
      border-radius:3px;
      transition:all @timing-fast linear;
    }
  }
}

.darkBaseColor {
  background-color: var(--dark-base-color);
}
.baseColor {
  background-color: var(--base-color);
}
.lightBaseColor {
  background-color: var(--light-base-color);
}
.baseText {
  background-color: var(--base-text);
}
.accentColor {
  background-color: var(--accent-color);
}
.primaryText {
  background-color: var(--primary-text);
}
.secondaryText {
  background-color: var(--secondary-text);
}
.dividerColor {
  background-color: var(--divider-color);
}
