/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package hub-web-app
 * @copyright 2010-2018 BigTinCan Mobile Pty Ltd
 * @author Lochlan McBride <lochlan.mcbride@bigtincan.com>
 */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600';

:root {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: default;
}

* {
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
}

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

::selection {
  text-shadow: none;
  background-color: #b3d4fc;
}

/* hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute!important;
    clip: rect(0 0 0 0)!important;
  }
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin:0.75rem;
  padding:0;
  overflow:hidden; /* required for editor */
}

iframe {
  width:100%;
  border:none;
}

/* Chrome 40+, iOS 8+, Safari 8+, -nPrevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
 audio:not([controls]) {
  display: none;
  height: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;/* Safari 8+ */;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;/* Safari 8 */;
}

small {
  font-size: 80%;/* All browsers */;
}

[hidden], template {
  display: none;
}

[unselectable] {
  -webkit-user-select: none;
  user-select: none;
}

abbr[title] {
  border-bottom: 1px dotted;/* Styling not present in IE 8/9/10/11, Safari, and  Chrome */;
}

/* specify the text decoration of anchors */
a {
  text-decoration: none;
  background-color: transparent;
}

/* specify media element style */
audio, canvas, iframe, img, progress, svg, video {
  vertical-align: baseline;
}

label {
  display:inline-block;
}

/* specify inheritance of form elements */
button, input, select, textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
}

/* specify the minimum height of form elements */
button, [type="button"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="reset"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
  min-height: 1rem;
}

/* specify the font family of code elements */
code, kbd, pre, samp {
  font-family: monospace,monospace;
}

/* specify the list style of nav lists */
nav ol, nav ul {
  margin:0;
  padding:0;
  list-style: none;
}
nav ol li, nav ul li {
  margin:0;
  padding:0;
}

/* specify textarea resizability */
textarea {
  resize: vertical;
}

hr {
  clear: both;
  user-select: none;
  -webkit-user-select: none;
  page-break-after: always;
}

/* tables */
table {
  border: none;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  max-width: 100%;
}
table.fr-dashed-borders td,
table.fr-dashed-borders th {
  border-style: dashed;
}
table.fr-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 0.25rem;
}
table td:empty,
table th:empty {
  height: 20px;
}
table td.fr-highlighted,
table th.fr-highlighted {
  border: 1px double red;
}
table td.fr-thick,
table th.fr-thick {
  border-width: 2px;
}
table th {
  background: #e6e6e6;
}

/* Typography */

 /* Headings */
h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.25rem;
  padding-bottom: 0.3rem;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
h2 {
  font-size: 1.75rem;
  padding-bottom: 0.3rem;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.43;
  margin-top: 0;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
  color: #777;
}
/* non-text elements */
input, textarea, select {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* specify font-weight bold */
b, strong {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* specific italic font */
i, em {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

/* paragraph spacing */
p {
  margin:0.75rem 0;
}
p:first-child {
  margin-top:0;
}
p:last-child {
  margin-bottom:0;
}

/* highlight text */
mark {
  background: #ff0;
  color: #000;
}

blockquote {
  margin:0;
  padding: 0 0.75rem;
  color: #777;
  border-left: 4px solid #ddd;
}
blockquote p {
  margin:0;
}

/* lists */
ol, ul {
  margin:1rem;
  list-style-position: inside;
}
li {
  margin:0.45rem 0;
  padding:0;
}
li:first-child {
  margin-top:0;
}
li:last-child {
  margin-bottom:0;
}
ol ol, ul ul, ol ul, ul ol {
  margin:0.5rem 0 0.5rem 1rem;
}
ol ol, ul ol {
  list-style-type: lower-roman;
}

pre {
  word-break: break-word;
}

code {
  word-break: break-word;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}
