/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package hub-web-app-v5
 * @copyright 2010-2017 BigTinCan Mobile Pty Ltd
 * @author Lochlan McBride <lochlan.mcbride@bigtincan.com>
 */

@import "../../less/_fonts.less";
@import "../../less/_variables.less";

.StoryEdit {
  background-color: var(--background-color);

  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;

  z-index: @modalZIndex;
}

.dropzoneActive {
  .dropZones {
    display: flex;
  }
}

/* Dropzones */
.dropzone() {
  text-align:center;
  width:100%;
  height:100%;

  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: background @timing-fast linear;

  &:last-child {
    border-top:solid 2px @dividerColor;
    border-top-color:var(--divider-color);
  }

  > h2, > .icon {
    transition: all @timing-fast linear;
  }
}

.dropzoneActive() {
  background:rgba(100, 100, 100, 0.1);

  > h2, > .icon {
    color:@base-color;
    transform:scale(1.25);
  }
}

.dropzoneReject() {
  cursor:not-allowed;

  .icon {
    .icon-error(80px);
  }
}

.dropZones {
  display:none;  /* shown on dropzoneActive */
  position:fixed;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  height:100%;
  width:100%;
  z-index:1000;

  background:rgba(255,255,255,0.92);

  h2 {
    border:none;
    color:@secondary-text;
    font-size:1.25rem;
  }

  .dropzoneReject();
}

/* thumbnail dropzone */
.thumbnailDropzone {
  .dropzone();

  .icon {
    .icon-image(80px);
    color:@secondary-text;
  }
}
.thumbnailDropzoneActive {
  .dropzoneActive();
}
.thumbnailDropzoneReject {
  .dropzoneReject();
}

/* featured image dropzone */
.featuredDropzone {
  .dropzone();

  .icon {
    .icon-image(80px);
    color:@secondary-text;
  }
}
.featuredDropzoneActive {
  .dropzoneActive();
}

.featuredDropzoneReject {
  .dropzoneReject();
}

/* file dropzone */
.fileDropzone {
  .dropzone();

  .icon {
    .icon-file(80px);
    color:@secondary-text;
  }
}
.fileDropzoneActive {
  .dropzoneActive();
}
.fileDropzoneRejected {
  .dropzoneReject();
}

/* save state */
.saving {
  cursor:wait;

  * {
    pointer-events:none;
  }
}

/* Edit Header */
.editHeader {
  position:fixed;
  top:0;
  right:0;
  left:@appNavWidth;
  height:@appHeaderHeight;
  color:@secondary-text;
  padding-left:@pageMargin;
  padding-right:@pageMargin;
  z-index: 1;
  background:#fff;

  display: flex;
  align-items: center;

  > nav {
    flex:1 1 auto;
  }

  @media @mobile {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    > nav {
      display:none;
    }
  }
  @media @tablet {
    padding-left: 1rem;
    padding-right: 1rem;

    > nav {
      width:60%;
      flex: 0 1 auto;
    }
  }

  /* scrollContainer */
  + div {
    padding-top:2rem;
  }
}

.status {
  margin-right:1.5rem;
}

.actions {

  @media @mobile {
    flex: 1 1 auto;
    text-align: right;

    button {
      min-width:auto !important;
    }
  }

  @media @tablet {
    flex: 1 1 auto;
    text-align: right;

    button {
      min-width:auto !important;
    }
  }

  @media @desktop {
    flex: 1 1 auto;
    text-align: right;

    button {
      min-width:auto !important;
    }
  }
}

.editSection {
  margin:0 auto 1rem;

  &:first-child h3 {
    margin-top:0;
  }

  &:last-child > div {
    border-bottom: none;
  }

  h3 {
    margin:2rem 0 1rem;
    padding:0;

    > span {
      margin-left:0.5rem;
      font-weight:normal;
      font-size:90%;
      color: var(--secondary-text);
    }

    .readonly {
      .tooltip(n);

      > span {
        .icon-lock(14px);

        &:before {
          transform: translate(0px, -2px);
        }
      }
    }
  }

  @media @mobile {
    margin-left:0.5rem;
    margin-right:0.5rem;
  }
  @media @tablet {
    margin-left:1rem;
    margin-right:1rem;
  }
  @media @desktop {
    max-width:724px;
  }
  @media @desktop-xl {
    max-width:924px;
  }
}

.tagsHeader {
  position: relative;
}
