<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Story Description (Share)</title>
  <link href="https://unpkg.com/froala-editor/css/froala_style.min.css" rel="stylesheet">
  <link href="https://unpkg.com/btca-client/css/btca.min.css" rel="stylesheet">
  <style>
    #message {padding: 1rem;}
  </style>
</head>
<body>
  <div id="message" class="fr-view"></div>
  <script src="https://unpkg.com/btca-client/lib/btca.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
