/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package style-guide
 * @copyright 2010-2018 BigTinCan Mobile Pty Ltd
 * @author Jason Huang <jason.huang@bigtincan.com>
 */

@import "../../libs/less/variables.less";

.ShareForward {
  /** Media Query breakpoints */
  @media @mobile {

  }
  @media @tablet {

  }
  @media @desktop {

  }
  @media @desktop-xl {

  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  font-size: 0.75rem;
  color: @secondaryText;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userItem {
  margin-top: 1rem;
}

.handIcon:hover {
  cursor: pointer;
}

//.unClick {
//  a:hover, a {
//    color: @primary-text !important;
//    opacity: 1 !important;
//    cursor: default !important;
//  }
//}
