/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package style-guide
 * @copyright 2010-2018 BigTinCan Mobile Pty Ltd
 * @author Lochlan McBride <lochlan.mcbride@bigtincan.com>
 */

@import "../../libs/less/btc-font-mixins.less";
@import "../../libs/less/variables.less";

.PromptItem {
  position: relative;
  border-radius: 8px;
  padding: 0.5rem;
  display: inline-block;
  width: 23rem;
  text-align: center;

  h4 {
    color: var(--base-color);
    font-weight: bold;
    margin: 0;
  }
  p {
    color: var(--secondary-text);
    margin: 0;
  }
}

.successPrompt {
  background-color: var(--notification-color);

  h4, p, .dismiss {
    color: var(--base-text);
  }
}

.chatPrompt, .infoPrompt {
  background: #f6f6f6;
}

.errorPrompt, .warningPrompt {
  background-color: var(--error-color);

  h4, p, .dismiss {
    color: var(--base-text);
  }
}

.notificationPrompt {
  display: flex !important;
  justify-content: center;
  background-color: var(--notification-color);

  p, span {
    color: var(--base-text);
    font-size: 0.875;
  }

  span {
    font-weight: initial;
  }
}

.isLink {
  cursor: pointer;
}

.dismiss {
  .icon-plus(12px);
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  transition: all @timing-medium linear;
  position:  absolute;
  top: -0.15rem;
  right: 0;
  color: @secondary-text;
  opacity: 0.8;

  &:before {
    font-weight: bold;
    transform: rotate(45deg);
  }

  &:hover {
    opacity: 1;
  }
}
