window.BTC = {
  BTCAPI: '${API_URL}/v5/webapi',
  BTCAPI4: '${API_URL}/webapi',
  REPORT_URL: "${JREPORT_URL}",
  REPORT_KEY: "${JREPORT_KEY}",
  GOOGLEMAP_KEY: "${GOOGLE_MAPS_KEY}",
  WEBAPPV4_URL: "${WEBAPPV4_URL}"
};
