/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
* @package style-guide
* @copyright 2010-2018 BigTinCan Mobile Pty Ltd
* @author Jason Huang <jason.huang@bigtincan.com>
*/

@import "../../../libs/less/variables.less";

.SecurityGeneralEdit {
  padding: 0 3.15rem 2rem 1.6rem;
  margin-bottom: 2rem;

  section {
    &:first-child h3 {
      margin-top: 0;
    }
  }

  ul {
    margin: 0 0 1rem 0;
  }

  /** Media Query breakpoints */
  @media @mobile {

  }
  @media @tablet {

  }
  @media @desktop {

  }
  @media @desktop-xl {

  }
}

.checkbox {
  margin-top: 1rem;
}

.shareBCCAddresses {
  margin-top: 1rem;
  width: 27rem;

  label {
    cursor: pointer !important;
    margin-bottom: 0.5rem !important;
  }
}

.shareBCCAddressesContainer {
  display: flex;
  justify-content: flex-start;
}

.addBtn {
  align-self: flex-end;
  margin-bottom: 0.75rem !important;
  margin-left: 1rem !important;
}

.watermarkContainer {
  display: flex;

  label {
    margin-bottom: 0.5rem;
    color: var(--secondary-text);
  }
}

.watermarkControlContainer {
  width: 17rem;
}

.overlayTextSelector {
  max-width: 20rem;
}

.overlayTextInput {
  margin-top: 0.5rem;
}

.opacity {
  margin-bottom: 0.5rem;
}

.opacityText {
  width: 80px;
}

.pickerContainer {
  margin-top: 1.5rem;
}

.opacityContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.opacityPercentage {
  align-self: flex-end;
  margin: 0px 0px 20px 10px;
}

.PipsRangeSliderContainer {
  margin:  2rem -1rem 4rem;
}

.watermarkWrapper {
  width: 27rem;
  height: 27rem;
  margin-left: 7rem;
}

.watermark {
  width: 20rem;
  height: 20rem;
  border: 1px solid @dividerColor;
  border-color: var(--divider-color);
  border-radius: 4px;
}

.inputError {
  input {
    border: 1px solid @errorColor !important;
    border-color: var(--error-color) !important;
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}
