/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package hub-web-app-v5
 * @copyright 2010-2017 BigTinCan Mobile Pty Ltd
 * @author Lochlan McBride <lochlan.mcbride@bigtincan.com>
 */

@import "../../less/_variables.less";

.StoryEditQuicklink {
  padding-bottom:1rem;
  border-bottom:solid 1px @dividerColor;
  border-bottom-color:var(--divider-color);
}

.typeWrap {
  margin:0 0 1.5rem;
  padding:0;
  list-style:none;

  display:flex;
  justify-content: space-around;

  li {
    margin:0;
    padding:0;
    text-align:center;
    color:@base-color;
    cursor:pointer;

    p {
      margin:0.5rem 0;
    }

    label:before {
      margin:0 !important;
      padding:0 !important;
    }
  }
}

.url {
  .icon-web(56px);
}

.file {
  .icon-file(56px);
}

.form {
  .icon-form(56px);
}

.description {
  margin:1.5rem 0;
  color:@secondary-text;
}

.filePreview, .formPreview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin:1rem 0 1.5rem;
}
