/**
 *
 * BIGTINCAN - CONFIDENTIAL
 *
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of BigTinCan Mobile Pty Ltd and its suppliers,
 * if any. The intellectual and technical concepts contained herein are proprietary to BigTinCan Mobile Pty Ltd and its
 * suppliers and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior
 * written permission is obtained from BigTinCan Mobile Pty Ltd.
 *
 * @package style-guide
 * @copyright 2010-2020 BigTinCan Mobile Pty Ltd
 * @author Rubenson Barrios <rubenson.barrios@bigtincan.com>
 */

@import "../../libs/less/btc-font-mixins.less";
@import "../../libs/less/utilities.less";
@import "../../libs/less/variables.less";

.FileEditItem {
  position: relative;
}

.fileWrap {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  transition: background @timing-fast linear;
}

.handle {
  .icon-handle(16px);
  cursor: move;
  color: rgba(0, 0, 0, 0.3);
  padding: 0 0.5rem;
  margin-right: 0.5rem;
}

.uploading {
  position: relative;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  border-radius: 1px;
  background-color: @accent-color;
  opacity:0.75;
  margin:0 0.5rem;
  transition:width @timing-slow ease-out;
}

.error {
  margin-left: 2.5rem;

  /* thumbnail */
  .fileWrap > div:first-child {
    .icon-error();
    background-color: #f00;

    &:before {
      color: #fff;
    }
    &:after {
      display: none;
    }
  }
  .description {
    text-decoration: line-through;
  }
}

// match width of columns in FileEditList.less
.descriptionWrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
  max-width: 24rem;

  @media @mobile, @tablet, @desktop {
    max-width: 16.5rem;
    min-width: 16.5rem;
  }
}

.noHandler {
  max-width: 27rem;
  min-width: 27rem;

  @media only screen and (max-width: 860px) {
    max-width: 19rem;
    min-width: 19rem;
  }
  @media only screen and (min-width: 861px) and (max-width: 949px) {
    max-width: 21.5rem;
    min-width: 21.5rem;
  }
  @media @desktop {
    max-width: 19.5rem;
    min-width: 19.5rem;
  }
}

.description {
  .overflow-ellipsis();
  color: var(--primary-text);
  margin-bottom: 0.5rem;
}

.showFileMetadataIcon {
  .icon-approved-content(1.35rem);

  &:before {
    color: #F7C94B;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}

.options {
  width: 10rem;
}

.share {
  width: 7.75rem;
  margin-right: 5rem;
  text-align: left;

  @media @mobile, @tablet, @desktop {
    margin-right: 2rem;
  }
}

.shareStatusIndicator {
  > span {
    &:before {
      content: '';
      display: inline-block;
      border: solid 1px #ddd;
      border-color: var(--divider-color);
      width: 7px;
      height: 7px;
      margin: 0 0.15rem;
      border-radius: 50%;
    }
    &.shareActive {
      font-size: 0.7rem;
      &:before {
        border-color: transparent;
        margin-right: 0.25rem;
      }
      &[data-status=optional]:before {
        background: #68c700;
      }

      &[data-status=mandatory]:before {
        background: #f5a623;
      }

      &[data-status=blocked]:before {
        background: #ff0000;
      }
    }
  }
}

.controls {
  text-align: right;
  min-width: 6.5rem;

  button {
    min-width: 5rem;
  }
}

.infoBtn {
  margin-left: 1.5rem;

  .icon-info(1.25rem);
  &:before {
    color: var(--base-color);
    cursor: pointer;
  }
}

.trashBtn {
  margin-left: 1.5rem;

  .icon-trash(1.25rem);
  &:before {
    color: var(--base-color);
    cursor: pointer;
  }
}

.tagContainer{
  width: ~"calc(100% + 70px)" !important;
  display: flex;
  position: relative;
  flex: 1;
  overflow: hidden;
  .tagItem{
    height: 30px;
    border-radius: 4px;
    background-color: #EEEEEE;
    margin-left: .625rem;
    display: flex;
    align-items: center;
    padding:0 .5rem;
  }
  .tagItem:first-child {
    margin-left: 0 !important;
  }
}
.tagMain{
  display: flex;
  width: 100%;
}
.addTag {
  color: var(--base-color);
  cursor: pointer;
  font-size: 13px;
}
.moreTag{
  .overflow-ellipsis();
  min-width: 60px;
  border-radius: 4px;
  display: flex;
  margin-left: .625rem;
  margin-right: .625rem;
  align-items: center;
  padding:0 .6rem;
  color: var(--base-color);
  cursor: pointer;
  font-size: 13px;
}
.moreTagsContainer{
  z-index: 111111;
  position: absolute;
  top: 2.5rem;
  right: .75rem;
  background-color: var(--background-color);
  color: var(--secondary-text);
  border:solid 1px #ddd;
  border-color: var(--divider-color);
  border-radius: 3px;
  width: 20rem;
  padding: .75rem;
}

.confirmDelete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: var(--light-base-color);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    margin: 0 1rem 0 0;
    display: inline-block;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      display: inline-block;
      margin: 0 1rem;
      padding: 0 0.5rem;
    }
  }
}
